[submodule ".registry"]
	path = .registry
	url = https://github.com/rotsl/rotsl.r-universe.dev
	branch = HEAD
[submodule "grayleafspotr"]
	path = grayleafspotr
	url = https://github.com/rotsl/grayleafspotr
